@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom cho flip card 3D */
.perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .pwa-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #888;
    border-radius: 8px;
    z-index: 1000;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    text-align: left;
  }
  .pwa-toast button {
    margin-left: 8px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  